{
  extends: "airbnb",
  env: {
    browser: true,
    node: true,
    es6: true
  },
  parser: "babel-eslint",
  rules: {
    max-len: ["error", 120, 2],
    react/jsx-filename-extension: ["error", { extensions: [".js", ".jsx"] }],
    react/forbid-prop-types: 0,
    jsx-a11y/no-static-element-interactions: 0,
    import/no-extraneous-dependencies: ["error", { devDependencies: true }],
    import/no-unresolved: 0,
    import/order: ["warn", {"newlines-between": "always"}]
  }
}
