{
  "presets": [
    [
      "env",
      {
        "es2015": {
          "modules": false,
          "loose": true
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    [
      "import-inspector",
      { "webpackRequireWeakId": true }
    ],
    "transform-inline-environment-variables",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
